/* menu superior */
.navbar {
  background-color: #4E54C8;
  position: relative;
}

@media (min-width: 768px) {
  .navbar-collapse {
    position: relative !important;
    top: 0px !important;
    padding: 0px !important;
    background-color: transparent !important;
  }
}

.collapsing {
  transition: none;
}
.navbar-profile,
.navbar-toggler {
  padding: 10px 0px;
}

.navbar-profile img {
  height: auto;
  width: 50px;
}

.navbar-toggler img{
  width: 40px;
  height: auto;
}

.navbar-collapse{
  background-color: #1A1F71;
  position: absolute;
  top: 65px;
  left: 0px;
  z-index: 999;
  padding: 10px 0px 10px 30px;
  min-width: 80vw;
}

.nav-item {
  padding: 20px 0px;
}

.nav-item a {
  color: #FFF;
}

.nav-item-name a {
  font-weight: 700;
}


