<div>
  <!-- <a routerLink="/">Home</a> -->
  <div *ngIf="!(loggedUser$ | async); else userData">
    <a routerLink="/">Home</a> | <a routerLink="/login">Login</a> | <a routerLink="/signup">Sign Up</a>
  </div>
  <ng-template #userData>
    <a routerLink="/">Home</a>
    <div>
      Hi, {{ (loggedUser$ | async).email}}
      <br>
      <button (click)="logout()">Log Out</button>
    </div>
  </ng-template>
</div>
<!-- <a routerLink="/">Home</a> | <a routerLink="/login">Login</a> | <a routerLink="/signup">Sign Up</a> -->
<router-outlet></router-outlet>
