/* menu superior */
.navbar {
  background-color: #4E54C8;
  position: relative;
}

@media (min-width: 768px) {
  .navbar-nav::before {
    display: none;
  }
  .nav-item-name {
    display: none;
  }
  .navbar-profile{
    padding-left: 30px !important; 
  }
}

.collapsing {
  transition: none;
}
.navbar-profile,
.navbar-toggler {
  padding: 10px 0px;
}

.navbar-profile img {
  height: auto;
  width: 50px;
}

.navbar-toggler img{
  width: 40px;
  height: auto;
}

.navbar-nav {
  position: relative;
  padding-right: 30px;
}

.navbar-nav::before {
  content: '';
  width: 100vw;
  background-color: #1A1F71;
  height: 100%;
  position: absolute;
  right: -1rem;
  bottom: -0.5rem;
}

.nav-item {
  padding: 20px 0px;
  z-index: 999;
  text-align: right;
}

.nav-item a {
  color: #FFF;
}

.nav-item-name a {
  font-weight: 700;
}

#login {
  background-image: url('../assets/bg/bg-home.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4B54CE;
  
}


.flex {
  padding: 10px 0px;
  min-height: 100vh;
}


.login-board {
  max-width: 500px;
  min-width: 310px;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.2);
}

.login-board .icon-voltar {
  max-width: 20px;
  height: auto;
}

.login-board form {
  margin: 10px;
  
}

.login-board .form-group label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0px;
}

.login-board .form-group input {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 4px 0px ;
  font-size: 10px;
}

.login-board form .btn {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 220px;
  display: block;
  padding: 10px 0px;
  border-radius: 35px;
  text-transform: uppercase;
  background-color: #1a1f71;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.2);
}
