<h1>Novo Post</h1>

<form [formGroup]="form">
  <div>
    <label for="title">Titlee</label> 
    <input type="text" [(ngModel)]="post.title" formControlName="title">
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" [(ngModel)]="post.description" formControlName="description">
  </div>
  <div>
    <label for="">Address</label>
    <input type="text" [(ngModel)]="post.address" formControlName="address">
  </div>
  <div>
    <label for="date">Date</label>
    <input type="date" [(ngModel)]="post.date" formControlName="date">
  </div>
  <div>
    <label for="hour">Hour</label>
    <input type="time" [(ngModel)]="post.hour" formControlName="hour">
  </div>
  <div>
    <label for="foto">Foto</label>
    <input type="file" id="foto" (change)="onFileChange($event)" #fileInput>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
  </div>
  <div>
    <label for="contact">Contact</label>
    <input type="text" [(ngModel)]="post.contact" formControlName="contact">
  </div>
  <div>
    <label for="type">Type</label> 
    <input type="text" [(ngModel)]="post.type" formControlName="type">
  </div>
  <input type="submit" [disabled]="form.invalid || loading" (click)="sendPost($event)">
</form>
