#profile {
  background-image: url('/../assets/bg/bg-general.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 64px);
  padding-top: 30px;
}

.card {
  background-color: #EBECFF;
  border: none;
  padding: 20px;
}

.card h2 {
  text-align: center;
  font-size: 20px;
  color: #003FDA;
  font-weight: 700;
  margin: 20px auto;
}

.box-info {
  margin: 10px 0px;
}

.box-info  .title {
  width: 30%;
  font-size: 12px;
  font-weight: 700;
}

.box-info .info {
  font-size: 12px;
  font-weight: 700;
  color: #003FDA;
}

