@import url('..\app.component.css');

.link-password {
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block
}

input.ng-touched.ng-valid {
  border: 2px solid green;
}

input.ng-touched.ng-invalid {
  border: 2px solid red;
}

.error-message {
  font-size: 12px;
}
