<section id="login">
  <article class="container">
    <div class="d-flex justify-content-center align-items-center flex">
      <div class="login-board">
        <a href="#"><img src="../../assets/icon/left-arrow.png" alt="" class="icon-voltar "></a>
        <form action="">
          <div class="form-group">
            <label for="email">e-mail</label>
            <input class="form-control" type="email" id="email" placeholder="Digite seu e-mail">
          </div>
          <div class="form-group">
            <label for="password">senha</label>
            <input class="form-control" type="password" id="password" placeholder="******">
          </div>
          <br>
          <button type="submit" class="btn">entrar</button>
          <br>
          <div class="form-group">
            <a class="link-password" href="">Esqueci a senha</a>
          </div>

        </form>
      </div>
    </div>
  </article>

</section>