<section id="login">
  <article class="container">
    <div class="d-flex justify-content-center align-items-center flex">
      <div class="login-board">
        <a href="#"><img src="../../assets/icon/left-arrow.png" alt="" class="icon-voltar "></a>
        <form action="">
          <div class="form-group">
              <label for="name">nome completo</label>
              <input  class="form-control" type="text" id="name" placeholder="Digite seu nome">
          </div>
          <div class="form-group">
              <label for="email">e-mail</label>
              <input  class="form-control" type="email" id="email" placeholder="Digite seu e-mail">
          </div>
          <div class="form-group">
              <label for="password">senha</label>
              <input  class="form-control" type="password" id="password" placeholder="******">
          </div>
          <div class="form-group">
            <label for="password-confirm">confimar senha</label>
            <input  class="form-control" type="password" id="password-confirm" placeholder="******">
        </div>

        <button type="submit" class="btn">inscrever-se</button>
        </form>
      </div>
    </div>
  </article>

</section>