<div class="card-holder" (click)="gotoPost()">
  <img src="https://picsum.photos/200/300" class="image-spacer" />
  <div class="bg-color" [ngStyle]="{'background-color':getTypeColor(item.type)}">
    <div class='card-text' style="text-align:center">
      <h4>{{item.title}}</h4>
      <h4>{{item.subtitle}}</h4>
    </div>
    <div class='icons'>
      <fa-icon class="icon-stroke" [icon]="faHeart" [ngClass]=" item.like ? 'fillon' : 'filloff'"></fa-icon>
      <fa-icon class="
          icon-stroke" [icon]="faStar" [ngClass]="item.like ? 'fillon' : 'filloff'"></fa-icon>
    </div>
  </div>
</div>

<!-- [ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }" -->