<section id="profile">
  <article class="container">
    <div class="card">
      <h2>Anderson Rodrigues {{ nome }}</h2>

      <div class="box-info d-flex">
        <div class="title">
          Email:
        </div>
        <div class="info">
          anderson@rodrigues.com
        </div>
      </div>

      <div class="box-info d-flex">
        <div class="title">
          Telefone:
        </div>
        <div class="info">
          (11) 1234-5678
        </div>
      </div>

      <div class="box-info d-flex">
        <div class="title">
          CEP:
        </div>
        <div class="info">
          04503-050
        </div>
      </div>

      <div class="box-info d-flex">
        <div class="title">
          Bairro:
        </div>
        <div class="info">
          Jardim Paulista
        </div>
      </div>

      <div class="box-info d-flex">
        <div class="title">
          Cidade:
        </div>
        <div class="info">
          São Paulo
        </div>
      </div>

      <div class="box-info d-flex">
        <div class="title">
          Estado:
        </div>
        <div class="info">
          SP 
        </div>
      </div>

    </div>
  </article>


</section>