<section id="profile">
  <article class="container">
    <div class="d-flex justify-content-center align-items-center flex">
      <div class="profile-board">
        <div class="image-container">
          <img src="../../assets/icon/daki-logo.png" alt="Avatar" class="image-resize">
        </div>

        <div class="card-body container-info">
          <div class="title-name">Jéssica Gonzalez</div>
          <table>
            <td>
              <tr><span class="profile-fields">E-mail: </span></tr>
              <tr><span class="profile-fields">Telefone: </span></tr>
              <tr><span class="profile-fields">CEP: </span></tr>
              <tr><span class="profile-fields">Bairro: </span></tr>
              <tr><span class="profile-fields">Cidade: </span></tr>
              <tr><span class="profile-fields">Estado: </span></tr>
            </td>
            <td>
              <tr><span class="profile-info">jessicacristina@email.com</span></tr>
              <tr><span class="profile-info">(11) 2345-6789</span></tr>
              <tr><span class="profile-info">00000-000</span></tr>
              <tr><span class="profile-info">Bairro</span></tr>
              <tr><span class="profile-info">Cidade</span></tr>
              <tr><span class="profile-info">UF</span></tr>
            </td>
          </table>
        </div>

      </div>
    </div>
  </article>

</section>